<body>
  <div fxLayout="column" fxLayoutAlign="space-around" fxFlex.xs="80vw">
    <mat-card style="text-align: center;" class="centeralign">
      <mat-card-title id="c1">
        Other Details
      </mat-card-title>
      <mat-card-content>
        <div>
          <button mat-button (click)="accordion.openAll()">Expand All</button>
          <button mat-button (click)="accordion.closeAll()">Collapse All</button>
        </div>

        <mat-accordion multi>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Hobbies
              </mat-panel-title>
              <mat-panel-description>
                Select Hobbies
                <mat-icon></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-hobbies (hobbyevent)="addhobbyevent($event)"></app-hobbies>
         <!--   <button mat-raised-button type="submit" (click)="opendialoghobbies()" color="primary">Add Hobbies</button>
            --><br /><br />
            <ul *ngIf="hobbies" class="list-group">

              <li class="list-group-item list-group-item-info" *ngFor="let hobby of hobbies;let i=index">
                {{hobby}}<button mat-icon-button (click)="deletehobby(hobby,i)" id="b1">
                  <mat-icon>delete</mat-icon>
               </button>
              </li><br />
            </ul>
          </mat-expansion-panel>
          <!-- #docregion disabled -->

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
              <mat-panel-description>
                Select Technology
                <mat-icon></mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
           <app-technology (techevent)="addtechnologyevent($event)"></app-technology>
           <!-- <button mat-raised-button type="submit" (click)="opendialogtechnology()" color="primary">Add
              Technology</button>-->
            <br /><br />
              {{technologies}}
            <ul class="list-group">
              <li class="list-group-item list-group-item-info" *ngFor="let technology of technologies;let i=index">
                {{technology}}<button mat-icon-button (click)="deletetechnology(technology,i)" id="b1">
                  <mat-icon>delete</mat-icon></button>
              </li><br /><br />&nbsp;&nbsp;
            </ul>

          </mat-expansion-panel>
        </mat-accordion>
        <br />
        <div>
          <button mat-raised-button type="submit" (click)="onclickback()" color="primary">Back</button>
          &nbsp;&nbsp;
          <button mat-raised-button type="submit" (click)="onclickconfirm()" color="primary">Confirm</button>
        </div>
   <!--   <ul class="list-group"> User liked books
          <li class="list-group-item list-group-item-info" *ngFor="let book of books">
              {{book}}
          </li>
        </ul>-->  
      </mat-card-content>
    </mat-card>
  </div>
  <br/>
  <br/>
  <!--<app-bookchild (newBookevent)="addBookevent($event)"></app-bookchild>-->
  <br/>
  <br/>
  <app-hobbychild [hobbystring]="displayhobbystring"></app-hobbychild>
</body>