table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    align-items:center;
  }
  #emp
  {
      text-align: center;
     
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:azure;
  }
  tr:nth-child(odd) {
    background-color:ivory;
  }
  table.aligncenter {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
  }
  body{
    background-color: #cccccc;
      background-size: cover;
       }
       #imag
       {
         
         border-radius: 50%;
         margin-top: 50px;
         margin-left: 600px;
       }
     .pos
     {
       position: relative;
     }  
      #p1
      {
        margin-top: 20px;
         margin-left: 580px;
      }