<body>
    <div fxLayout="column" fxLayoutAlign="space-around" fxFlex.xs="80vw">
    <mat-card style="text-align: center;" class="centeralign">
        <mat-card-title>
            Employee Details
        </mat-card-title>
        <mat-card-content>
            <form name="form" [formGroup]="addemployeeprofile">
                <div>
                    <label id="text">Employee id</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="id" placeholder="12345" required>
                    </mat-form-field>
                </div>
                <div>
                    <label id="text">First Name</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="fname" placeholder="Ezhil" required>
                        <mat-error *ngIf="addemployeeprofile.controls['fname'].errors?.firstname">FirstName Can't be Empty
                            and must within 3 to 15</mat-error>
                    </mat-form-field>
                </div>
               
                <div>
                    <label id="text">Last Name</label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="lname" placeholder="sankar" required>
                        <mat-error *ngIf="addemployeeprofile.controls['lname'].errors?.lastname">LastName Can't be Empty
                            and must within 3 to 15</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <label id="text">Designation</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="designation">
                            <mat-option *ngFor="let designation of designationList" [value]="designation">
                                {{designation}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div><br/><br/>
                <div>
                    <label id="text">Experience</label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="experience">
                            <mat-option *ngFor="let experiencel of experienceList" [value]="experiencel">{{experiencel}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div><br/><br/>
                <div>
                    <label id="text">Select Gender</label>
                    <mat-radio-group aria-labelledby="radio-group-label" formControlName="gender" class="radio-group" color="primary">
                        <mat-radio-button class="radio-button" value="Female">Female</mat-radio-button>
                        <mat-radio-button class="radio-button" value="Male">Male</mat-radio-button>   
                      </mat-radio-group>
                </div><br/><br/>
                <div>
                    <button mat-raised-button [disabled]="addemployeeprofile.invalid" (click)="onadd()" type="submit"
                        color="primary">Add Employee</button>
                </div>
                <div *ngIf="add">
                    {{adddisplay}}
                </div>
</form>
</mat-card-content>
</mat-card>
</div>
</body>

